In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
url = 'https://www.imdb.com/list/ls560585364/'
response = requests.get('https://www.imdb.com/list/ls560585364/')
content = response.content
soup = BeautifulSoup(content,'html.parser')

In [3]:
box = soup.find('div',class_="lister-list").find_all('div',class_="lister-item mode-detail")

In [4]:
data = []
for movie in box:

        name = movie.find('h3',class_="lister-item-header").a.text
        
        genre = movie.find('span',class_="genre").get_text(strip=True).split(',')[0]
        
        rating = movie.find('span',class_ = "ipl-rating-star__rating").text
        
        amount = movie.find('div',class_="list-description").p.text.split('\n')[-1].split(' ')[2:][0]
        
        data.append([name,genre,rating,amount])

In [5]:
#put data into a dataframe
box = pd.DataFrame(data, columns = ['name','genre','rating','amount'])

In [6]:
box

,name,genre,rating,amount
0,Avatar: The Way of Water,Action,7.6,"$2,320,250,281"
1,Top Gun: Maverick,Action,8.3,"$1,495,696,292"
2,Jurassic World Dominion,Action,5.6,"$1,003,775,632"
3,Doctor Strange in the Multiverse of Madness,Action,6.9,"$955,775,804"
4,Minions: The Rise of Gru,Animation,6.5,"$939,628,210"
...,...,...,...,...
92,Armageddon Time,Drama,6.5,"$6,538,858"
93,Crimes of the Future,Drama,5.9,"$4,551,565"
94,Vengeance,Comedy,6.8,"$4,370,536"
95,Spoiler Alert,Comedy,7.3,"$1,434,869"
96,The Inspection,Drama,6.7,"$406,644"

In [7]:
#save as csv file
box.to_csv('box.csv')